<div class="container-fluid homepage-intro">

    <div class=" container intro-container" data-aos="fade-down">
        <h1>{{'THE BULGARIAN BARCODE OF LIFE'|_}}</h1>
        <p>
            {{'The Bulgarian Barcode of Life project is a national network that aims to develop a targeted, 
            systematic and large-scale inventory of the diversity of major groups of organisms 
            through the application of DNA methods in Bulgaria.'|_}}
        </p>
        <a href="/what-is-bgBOL" class=" btn-intro">{{'Read more'|_}}</a>
    </div>

    <div class="video-carousel">
        <div class="video-carousel-1">
            <video autoplay muted loop>
                <source src="{{ 'lizard.mp4'|media }}" type="video/mp4">
            </video>
        </div>
        <div class="video-carousel-2">
            <video autoplay muted loop>
                <source src="{{ 'dna-rotate.mp4'|media }}" type="video/mp4">
            </video>
        </div>
        <!-- <div class="video-carousel-3">
            <video autoplay muted loop style="width: 100%; height: auto;">
                <source src="{{ 'lizard.mp4'|media }}" type="video/mp4">
            </video>
        </div> -->
    </div>

    <div class="row between-md social-links">
        <div class="x-box">

        </div>
        <div class="linkedin-box">
            
        </div>
    </div>
    
</div>