<!-- Reusable component for member cards on partners -->
<div class="member-card">
    <div class="row member-intro">
            <div class="member-avatar">
                <img src="{{ member.avatar.thumb(104, 104, {mode: 'crop'}) }}" alt="{{ member.names }}">
            </div>
        <div class="member-info">
            <div class="member-name">{{ member.names }}</div>
            <div class="member-position">{{ member.position }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="member-description">
                {{ member.content|slice(0, 255)|raw }}
            </div>
        </div>
        <div class="col-xs-12 institution-full" style="display: none;">
            {{member.content|raw}}
        </div>
        <div class="col-xs-12">
            <a href="" class="full-description-toggle" 
            data-read-more="{{ 'Read full description' | _ }}"
            data-hide="{{ 'Hide full description' | _ }}">
             <span class="toggle-text">{{ 'Read full description' | _ }}</span>
             <span class="plusminus"></span>
         </a>
         
        </div>
    </div>
</div>