<div class="col-xs-12 col-md-3 news-item item-{{slug}}">
	<div class="row news_column">
		{% if image %}
		<a class="news-image col-xs-12 center-xs" href="{{url}}">
			<img class="news-img-top" src="{{image.getThumb(width, height, {'mode': 'crop'})}}">
		</a>
		{% else %}
		<a class="news-image col-xs-12 center-xs" href="{{url}}">
			<img class="news-img-top" src="{{'pensoft/No_Image_Available.jpg'|media }}" style="height: {{height}}px; width: {{width}}px;">
		</a>
		{% endif %}
		<div class="news-container col-xs-12">
			<div class="text-published">{{published_at}}</div>
			<div class="news-title">
				<h3 class="card-title"><a href="{{url}}">{{ title|length > 99 ? title|slice(0, 99) ~ '...' : title  }}</a></h3>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<a href="{{url}}" class="btn btn-primary">{{'Read article' |_}}</a>
				</div>
				<div class="col-xs-6">
					{% if allow_share == 'yes' %}
						{% if this.theme.twitter %}
						<a href="https://twitter.com/intent/tweet?text={{title_encoded}}{{url}}" target="_blank" class="col-xs col-md-12 btn p-primary pr p-twitter big"></a>
						{% endif %}
						{% if this.theme.facebook %}
						<a href="https://www.facebook.com/sharer/sharer.php?u={{url}}&amp;src=sdkpreparse" target="_blank" class="col-xs col-md-12 btn pr p-primary p-facebook big"></a>
						{% endif %}
						{% if this.theme.linkedin %}
						<a href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}" target="_blank" class="col-xs col-md-12 btn pr p-primary p-linkedin big"></a>
						{% endif %}
					{% endif %}</div>

			</div>

		</div>
	</div>
</div>
