url = "/"
layout = "default"
title = "Bgbol"
is_hidden = 0
meta_title = "The Bulgarian Barcode Of Life (BgBOL)"
meta_description = "The Bulgarian Barcode of Life project is a national network that aims to develop a targeted, systematic and large-scale inventory of the diversity of major groups of organisms through the application of DNA methods in Bulgaria."
seo_keywords = "BgBOL, barcoding, DNA methods"
robot_index = "index"
robot_follow = "follow"

[jumbotron about-bulgarian-barcode-life]
jumbotron = "about-bulgarian-barcode-life"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron what-dna-barcoding]
jumbotron = "what-dna-barcoding"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[siteSearchInclude]

[viewBag]
localeTitle[bg] = "Българският Баркод На Живота (BgBOL)"
localeDescription[bg] = "Проектът \"Български Баркод на Живота\" е национална мрежа, която се стреми да развие насочен, систематичен и обширен инвентар на разнообразието на големите групи организми чрез прилагането на методи на ДНК в България."
localeMeta_title[bg] = "Българският Баркод На Живота (BgBOL)"
localeMeta_description[bg] = "Проектът \"Български Баркод на Живота\" е национална мрежа, която се стреми да развие насочен, систематичен и обширен инвентар на разнообразието на големите групи организми чрез прилагането на методи на ДНК в България."
==
<?php
use Pensoft\Articles\Models\Article;
use Pensoft\Projects\Models\Project;
use Carbon\Carbon;

function onStart(){
    //main

    $this['highlights'] = Article::news()->where('published', 'true')->descPublished()->take(3)->get()->map(function($item){
        $item->content = str_limit(strip_tags($item->content), 120);
        $item->href = $item->slug;
        return $item;
    });
    
    $now = Carbon::now();

    //$this['projects'] = Project::where('published', 'true')->orderBy('start', 'desc')->take(4)->get();
    $this['projects'] = Project::where('published', 'true')
                                ->where('start', '>=', $now->format('Y-m-d'))
                                ->orderBy('start', 'asc')
                                ->take(4)
                                ->get();
}
?>
==
{% component 'siteSearchInclude' %}

<!-- ABOUT US -->
<div class="container-fluid j-about-barcoding">
    {% component 'about-bulgarian-barcode-life' %}
</div>

<!-- DNA Barcoding -->
<div class="container-fluid dna-barcoding">
    {% component 'what-dna-barcoding' %}
</div>

<!-- PROJECTS -->
{% if projects.count > 0 %}
<div class="container-fluid projects-background">
    <div class="container">
        <div class="subhead">
            {{'projects' |_}}
        </div>

        <!-- Desktop -->
        <div class="container project-container project-desktop">
            <div class="row between-xs head-row">
                <div class="projects-h row">
                    <h1 class="jumbo-h1">{{'Our projects' |_}}</h1>
                </div>
                <button class="material-bubble">
                    <a  href="/projects">{{'View all'|_}}</a>
                </button>
            </div>
            {% if projects.count > 3 %}
            <div class="row projects-highlights">
                {% for item in projects %}
                <div class="project-item col-md-6">
                    <a href="/projects/{{item.slug}}">
                        <img src="{{ item.cover.thumb(594, 522, {'mode': 'crop'})}}" alt="News image">
                    </a>
                    <div class="row project-content">
                        <div class="col-md-10 col-xs-12 project-details">
                            <a class="project-title-full" href="/projects/{{item.slug}}">
                                {% if item.title %}
                                <div class="subinfo">{{item.title}}</div>
                                {% if item.tag %}
                                <div class="subinfo">({{item.tag}})</div>
                                {% endif %}
                            {% endif %}
                            </a>
                            <div class="project-dates">
                                {% if item.start and item.end %}
                                <div><span class="subinfo">{{'Project duration' |_}}:</span> {{item.start| date('Y')}} {% if item.end| date('Y') != item.start| date('Y') %} - {{item.end| date('Y')}} {% endif %}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 arrow-more">
                            <a href="/projects/{{item.slug}}" class="arrow-more-link"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% elseif projects.count < 4 %}
            <div class="projects-carousel">
                {% for item in projects %}
                    <div class="slide">
                            <div class="project-item">
                                <a href="/projects/{{item.slug}}">
                                    <img src="{{ item.cover.thumb(594, 522, {'mode': 'crop'})}}" alt="News image">
                                </a>
                                <div class="row project-content">
                                    <div class="col-md-10 col-xs-12 project-details">
                                        <a class="project-title-full" href="/projects/{{item.slug}}">
                                            {% if item.title %}
                                            <div class="subinfo">{{item.title}}</div>
                                            {% if item.tag %}
                                            <div class="subinfo">({{item.tag}})</div>
                                            {% endif %}
                                        {% endif %}
                                        </a>
                                        <div class="project-dates">
                                            {% if item.start and item.end %}
                                            <div><span class="subinfo">{{'Project duration' |_}}:</span> {{item.start| date('Y')}} {% if item.end| date('Y') != item.start| date('Y') %} - {{item.end| date('Y')}} {% endif %}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-12 arrow-more">
                                        <a href="/projects/{{item.slug}}" class="arrow-more-link"></a>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
            <div class="projects-arrows">
                <div class="prev-arrow"></div>
                <div class="next-arrow"></div>
            </div>
            {% endif %}
        </div>

        <!-- Responsive -->
        <div class="container project-container project-mobile" style="display: none;">
            <div class="row between head-row">
                <div class="projects-h">
                    <h1 class="jumbo-h1">{{'Our projects' |_}}</h1>
                </div>
                <div class="projects-arrows-mobile">
                    <div class="prev-arrow-mobile"></div>
                    <div class="next-arrow-mobile"></div>
                </div>
            </div>
            <div class="projects-carousel-mobile">
                {% for item in projects %}
                <div class="project-item">
                    <a href="/projects/{{item.slug}}">
                        <img src="{{ item.cover.thumb(594, 522, {'mode': 'crop'})}}" alt="News image">
                    </a>
                    <div class="row project-content">
                        <div class="col-md-10 col-xs-12 project-details">
                            <a class="project-title-full" href="/projects/{{item.slug}}">
                                {% if item.title %}
                                <div class="subinfo">{{item.title}}</div>
                                {% if item.tag %}
                                <div class="subinfo">({{item.tag}})</div>
                                {% endif %}
                            {% endif %}
                            </a>
                            <div class="project-dates">
                                {% if item.start and item.end %}
                                <div><span class="subinfo">{{'Project duration' |_}}:</span> {{item.start| date('Y')}} {% if item.end| date('Y') != item.start| date('Y') %} - {{item.end| date('Y')}} {% endif %}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 arrow-more">
                            <a href="/projects/{{item.slug}}" class="arrow-more-link"></a>
                        </div>
                    </div>  
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endif %}


<!-- NEWS highlights Carousel -->
<div class="container-fluid">
    <div class="container ">
        <div class="highlights-head">
            <div class="subhead">
                news
            </div>
            <div class="row mb-2">
                <div class="col-md-6 col-xs-12">
                    <h1 class="jumbo-h1">{{'Our latest news'|_}}</h1>
                </div>
                <div class="col-md-6 col-xs-12 text-right">
                    <div class="view-all-news">
                        <button class="material-bubble">
                            <a href="/news">{{'View all'|_}}</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid highlights-news  mb-4">
    <div class="news-carousel">
        {% for highlight in highlights %}
        <div class="home-news-highlights">
            <div class="row news-item">
                <div class="col-md-6 col-xs-12 news-content">
                    <a href="/news/{{highlight.slug}}"><div class="news-title">{{ highlight.title }}</div></a>
                    <p class="news-date">{{ highlight.published_at|date('d.m.Y') }}</p>
                    <div class="news-description">{{ highlight.content | raw }}</div>
                    <div class="row read-more-row">
                        <a href="/news/{{highlight.slug}}" class="read-more">{{'Read more' |_}}</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 home-news-cover">
                    <a href="/news/{{highlight.slug}}">
                        <img src="{{ highlight.cover.thumb(357, 299, {'mode': 'crop'})}}" alt="News image">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
