url = "/partners/:code?|[a-zA-Z\-0-9]+"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "about.jpg"


==
<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles;
use Rainlab\Location\Models\Country;

function onStart(){
    $this['partners'] =  Partners::where('type', 1)->get();
    $this['is_detail_page'] = false;
    if($this->param('code')){
        $country = Country::where('code', $this->param('code'))->where('is_enabled', true)->first();

        if($country){
            $this['partners'] =  Partners::whereRaw('country_code ILIKE \'%'.$this->param('code').'%\'')->where('type', 1)->get();
            $this['country'] = $country;
        } else {
            $this['partners'] = Partners::where('id', $this->param('code'))->where('type', 1)->get();
            $this['country'] = new class {
                public $name = "Partner";
            };
        }

        $this['is_detail_page'] = true;
    }
    $this['members'] = Profiles::where('category_id',  3)->get();
    $this['countries'] =  Country::where('is_enabled', true)->orderBy('name')->get();

    $this['insider_members'] = new class {
        public function getIM($id) {
            return Profiles::where('partner_id', $id)->where('category_id',  3)->get();
        }
    };

}


?>
==

{% if is_detail_page %}
<div class="container">
    <div class="tabs">
        <a class="active" href="\partners#all">{{'All partners'|_}}</a>
        <a class="" href="\partners#by-country">{{'Partners by country'|_}}</a>
        <div class="underline"></div>
    </div>

    <h2>{{country.name}}</h2>
    {% for partner in partners %}
    <div class="col-xs-12 partner-item">
        <div class="row">
            <div class="col-xs-12 col-md-2 start-md center-xs partner_cover"><img src="{{partner.cover.thumb(119, auto, {mode: 'crop'})}}"></div>
            <div class="col-xs-12 col-md-8 start-md center-xs partner_title">{{partner.instituion}}</div>
            <div class="col-xs-12 col-md-2 end-md start-xs partner_link"><a href="{{partner.instituion_url}}" class="visit-webite btn btn-primary" target="_blank">{{'Visit website'|_}}</a></div>
            <div class="col-xs-12 partner_description">{{partner.content|raw}}</div>
        </div>
        {% if insider_members.getIM(partner.id).count > 0 %}
        <div id="accordion-insider-members-list-{{partner.id}}" class="partners-insider">
            <div class="accordion-border">
                <div class="row middle-xs accordion-toggle">
                    <span class="plusminus"><span>{{'Show members'|_}}</span><div class="plus"></div></span>
                </div>
                <div class="accordion-content" style="display: none;">
                    <div class="row top-xs">
                        {% for profile in insider_members.getIM(partner.id) %}
                        <div class="col-md-12 col-xs-12">
                            <div class="contact_info row">
                                <div class="col-md-2 col-xs-12 coordinator_image">
                                    {% if profile.avatar %}
                                    <!--                            <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(175,145,{'mode':'crop'})}}">-->
                                    <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(119,119,{'mode':'crop'})}}">
                                    {% else %}
                                    <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" width="119" height="119" class="no-image">
                                    {% endif %}
                                </div>
                                <div class="col-md-10 col-xs-12 coordinator_info">
                                    <h4>{{ profile.names }}</h4>
                                    <div class="body">{{ profile.content|raw }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% else %}
<div class="container">
    <div class="tabs">
        <a class="active" href="\partners#all">All partners</a>
        <a class="" href="\partners#by-country">Partners by country</a>
        <div class="underline"></div>
    </div>

    <div id="by-country">
        <div class="row countries_list">
            {% for country in countries %}
            <div class="col-md-2 col-sm-6 col-xs-12 country-item">
                <div class="container">
                    <h3>{{country.name}}</h3>
                    <div class="img-box {{country.code}}"></div>
                    <div class="btn-container mt-1"><a class="btn-secondary" href="{{'partners'|page}}/{{country.code}}">View Partners</a></div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

    <div id="all" class="accordion-insider-members-list">
        {% for partner in partners %}
        <div class="col-xs-12 partner-item">
            <div class="row">
                <div class="col-xs-12 col-md-2 start-md center-xs partner_cover"><img src="{{partner.cover.thumb(119, auto, {mode: 'crop'})}}"></div>
                <div class="col-xs-12 col-md-8 start-md center-xs partner_title">{{partner.instituion}}</div>
                <div class="col-xs-12 col-md-2 end-md start-xs partner_link"><a href="{{partner.instituion_url}}" class="btn btn-primary" target="_blank">Visit website</a></div>
                <div class="col-xs-12 partner_description">{{partner.content|raw}}</div>
            </div>
            {% if insider_members.getIM(partner.id).count > 0 %}
            <div id="accordion-insider-members-list-{{partner.id}}" class="partners-insider">
                <div class="accordion-border">
                    <div class="row middle-xs accordion-toggle">
                        <span class="plusminus"><span>Show members</span><div class="plus"></div></span>
                    </div>
                    <div class="accordion-content" style="display: none;">
                        <div class="row top-xs">
                            {% for profile in insider_members.getIM(partner.id) %}
                            <div class="col-md-12 col-xs-12">
                                <div class="contact_info row">
                                    <div class="col-md-2 col-xs-12 coordinator_image">
                                        {% if profile.avatar %}
                                        <!--                            <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(175,145,{'mode':'crop'})}}">-->
                                        <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(119,119,{'mode':'crop'})}}">
                                        {% else %}
                                        <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" width="119" height="119" class="no-image">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-10 col-xs-12 coordinator_info">
                                        <h4>{{ profile.names }}</h4>
                                        <div class="body">{{ profile.content|raw }}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


<script>
$(document).ready(function() {
    function updateUnderline() {
        var $activeTab = $('.tabs a.active');

        if ($activeTab.length) {
            var activeWidth = $activeTab.outerWidth();
            var itemPos = $activeTab.position();
            var marginRight = parseFloat($activeTab.css('margin-right'));
            var marginLeft = parseFloat($activeTab.css('margin-left'));

            var adjustedLeft = itemPos.left + marginLeft;
            var adjustedWidth = activeWidth - marginLeft;

            var buffer = $activeTab[0].getBoundingClientRect().width - adjustedWidth;

            $('.tabs .underline').css({
                'left': adjustedLeft + 'px',
                'width': (adjustedWidth + buffer) + 'px'
            });
        }
    }

    updateUnderline();

    $('.tabs a').on('click', function(e) {
        e.preventDefault();
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
        updateUnderline();
    });
});
</script>
